(app_common) {
    encode gzip
    log {
        output stdout
    }
}

app.localhost {
    import app_common
    reverse_proxy laravel.test:80
}

n8n.localhost {
    import app_common
    reverse_proxy n8n:5678

    # Optional Basic Auth for n8n dashboard (local dev only)
    basicauth * {
        admin change-me
    }
}
